<!-- templates/pages/contact.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Welcome</h1>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5>Welcome to our website!</h5>
            <p>This is the main page content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}